* {
    scroll-behavior: smooth; /* or better on html only? */
}
html {
    word-break:   break-word;
    overflow-wrap:break-word;
    font-family:Arial, Helvetica, sans-serif;
}
body {
    margin:auto;
    min-block-size:100vh;
    box-sizing:border-box;
}
h1 {
    line-height:.9;
}
h2 {
    line-height:1;
}
hr {
    border-style:solid;
    border-width:0 0 1px 0;
}
nav a {
    text-decoration:none;
}
nav li {
    list-style: none;
}
nav ul {
    padding-left:1.5em;
}
nav > ul {
    padding-left:0;
}
img,
svg,
video,
canvas {
    max-width:100%;
    object-fit:cover;
    height: auto;
}
audio, video {
	width: 100%;
}
video {
    background-color:#aaa;
}
iframe {
    box-sizing:border-box;
    width:100%;
}
table {
    border-collapse: collapse;
	font-variant-numeric: tabular-nums;
}

dialog {
    xoverscroll-behavior: contain; /* or "none"? Prevent scroll chaning. -safari. ok? */
}


/* form */
label,
button:not([disabled]),
[type=checkbox],
[type=radio],
[type=file] {
    cursor:pointer;
}

input, textarea, select, button {
    padding:.2em;
    border:1px solid rgba(0,0,0,.5);
}
input, textarea, select {
    xpadding:.2em;
    box-sizing:border-box;
    xborder:1px solid rgba(0,0,0,.5);
    border-radius:0;
    font-size:inherit;
    line-height:1.3;
    font-family:inherit;
}
button {
    padding-left:.5em;
    padding-right:.5em;
    xborder-color:transparent;
}
input, textarea {
    width:11rem;
}
textarea {
    resize: vertical;
}
[type=radio],
[type=checkbox],
[type=file]{
    width:auto;
}
