html {
  background-color:var(--color-bg);
  color:var(--color-text);
  font-family:var(--font);
  font-size:calc(11px + 2vmin)
}
a {
  color:var(--color);
}
hr {
  color:var(--color);
}

main {
  max-width:var(--width);
  margin:auto;
}
