.lx-badge {
    background-color:var(--color-dark);
    color:var(--color-bg);
    display:inline-flex;
    padding:.2em .6em .2em .6em;
    border-radius:.3em;
    line-height:1.1;
	xbox-decoration-break:clone; /* not needed for inlin-flex */
}
