.lx-flex-gap {
    display:flex;
    --f-gap:var(--gap);
    --f-row-gap:var(--f-gap);
    --f-col-gap:var(--f-gap);
    margin:calc( var(--f-row-gap) * -0.5 ) 0 calc( var(--f-row-gap) * -0.5 ) calc( var(--f-col-gap) * -1 ); /* important? */
}
.lx-flex-gap > * {
    margin:calc( var(--f-row-gap) / 2 ) 0 calc( var(--f-row-gap) / 2 ) var(--f-col-gap); /* important? */
}

.lx-grow {
    flex-grow:1;
}

/*

.lx-flex-col {
    display:flex;
    flex-direction:column;
}



https://meowni.ca/posts/monica-dot-css/

.horizontal {display: flex; flex-direction: row; justify-content: space-between}
.vertical {display: flex; flex-direction: column}
.center {justify-content: center; align-items: center}
.flex {flex: 1}

*/