.lx-scrollable {
    overflow-x:auto;
}
/* fix ff padding-bottm bug (fixed in ff 89!) *
@-moz-document url-prefix() {
    .lx-scrollable::after {
        content:'';
        display:block;
        padding-block-end:inherit;
    }
}
*/