.lx-slideshow {
	/* needed */
	display:flex;
	overflow:auto;
	scroll-snap-type: x mandatory;
	margin:0;
	padding:0;
	/* ok? */
	align-items: stretch;
}
.lx-slideshow > * {
	/* needed */
	width:100%;
	flex-shrink:0;
	position:relative;
	scroll-snap-align: center;
	list-style:none; /* if its a list */
	/* ok */
	height:100%; /* vertical mode (needs height and flex-direction:column set on the slideshow) */
	text-align:center;
	xheight:100%;
	xdisplay:flex;
	xalign-items:center;
	xjustify-content: center;
	xobject-fit: cover;
}
