.lx-width {
    max-width:var(--width);
    margin:auto;
    padding-left:var(--gap);
    padding-right:var(--gap);
    box-sizing:content-box;
}

/* remove gap on nested width-containers */
.lx-width .lx-width {
    padding-left:0;
    padding-right:0;
}
