:root {
    --gap:2rem;
    --hsl-h: 188.9;
    --hsl-s: 12%;
    --hsl-l: 12%;
    --radius:0;
    --color-bg:#fff;
    --color-text:#000;
    --color-area:#f8f8f8;

    font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:300;
}
h1 {
    font-size:2.7rem;
}

hr {
    width: calc(var(--width) / 2);
    margin-left:auto;
    margin-right:auto;
}

[role=banner] {
    box-shadow:var(--shadow);
}

/* :where(h1, h2, h3) + p:first-letter */

h1 + p:first-letter,
h2 + p:first-letter,
h3 + p:first-letter {
    display:block;
    float:left;
    margin-right: 0.16em;
    font-size: calc(1.4em * 2);
    margin-top: calc(0.2em - .5em);
    line-height:.7; /* firefox is exacly as height as the char, to approximate the behavior of firefox we use .7 */

    /* costumize */
    font-weight:100;
    opacity:.4;
}
